header {
    background-color: rgb(6, 0, 43);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(9, 0, 70);
    padding: 0px;
    text-align: center;
    font-size: 35px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
body {
    background-color: #111;
}